@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 9% 98%;
    --foreground: 28 26% 11%;
    --card: 60 9% 98%;
    --card-foreground: 28 26% 11%;
    --popover: 60 9% 98%;
    --popover-foreground: 28 26% 11%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 1rem;
    --chart-1: 211 63% 86%;
    --chart-1-foreground: 210 19% 28%;
    --chart-2: 17 89% 86%;
    --chart-2-foreground: 335 50% 27%;
    --chart-3: 96 42% 86%;
    --chart-3-foreground: 96 42% 86%;
    --chart-4: 44 86% 89%;
    --chart-4-foreground: 44 86% 89%;
    --chart-5: 298 72% 93%;
    --chart-5-foreground: 298 72% 93%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 28 26% 11%;
    --foreground: 0 0% 98%;
    --card: 28 26% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 28 26% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 211 63% 86%;
    --chart-1-foreground: 210 19% 28%;
    --chart-2: 160 60% 45%;
    --chart-2-foreground: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-3-foreground: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-4-foreground: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-5-foreground: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 60, 9%, 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dot {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
}
